

#mainContainerDiv {
	margin-top: 30px;
}

#screenSizeTooSmall {
	margin-top: 150px;
	display: none;
	color: gray;
}

#screenSizeInfo {
	color: gray;
}




#iphoneFrame {

}

#primaryContainer {
    padding-right: 5px;
    padding-left: 5px;
}

#iphoneFrameImg > img {
	max-width: 100%;
}


#iphoneScreen{
	position: absolute;
	top: 17%;
    left: 11%;
    width: 80%;
	z-index: 1;
	border: 0px;
}

#iphoneScreen > img{
	max-width: 100%;
}

#iphoneHomeButton {
	position: absolute;
	width: 25%;
	height: 15%;
	top: 83%;
	left: 38%;
}

#iphonePowerButton {
	position: absolute;
	width: 25%;
	height: 5%;
	top: 0%;
	left: 60%;
}

#iphoneMuteButton {
	position: absolute;
	height: 15%;
	width: 7%;
	top: 5%;
}

#posterFrame {

}

#posterFrame img {
	max-width: 100%;
}

#rtdmAdvisorFrame{
	display: none;
	border: 3px;
}

#rtdmAdvisorContainer{
	max-height:  690px;
	border-radius: 10px;
	overflow: hidden;
}

#googleMapsFrame{
	display: none;
	border: 2px solid #888;
	height: 325px;
	width: 100%;
}

#offerDetailsFrame{
	margin-top: 10px;
	display: none;
	border: 2px solid #888;
	height: 325px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}


#posterPopupFrame {
	display: none;
    position: absolute;
    top: 15%;
    left: 15%;
    height: 45%;
    width: 29%;
	box-shadow: 10px 10px 5px rgba(207, 207, 207, 0.6);
}

#posterPopupFrame img {
	width: 100%;
}


.vcenter {
	display:table-cell;
	vertical-align:middle;
	float:none;
}





/* demo not runnable below */
@media (max-width: 1023px) {
	#primaryContainer {
		display: none;
	}


	#secondContainer {
		display: none;
	}

	#screenSizeTooSmall {
		display: block;
	}
}


/* IPAD */
@media (min-width: 1024px) and (max-width: 1200px) {
	#primaryContainer {
		/*position: relative;
		top:100px;
		left: -25px;
		zoom: 0.8;*/
	}


	#secondContainer {

	}
}




/* Bug fixes */
.ui-progress span.ui-label {
	left: 45%;
	right: auto;
}

.ui-tabs .ui-tabs-nav li a {
padding: .3em .6em;
}